<!DOCTYPE html>
<html>
    {% from 'bootstrap5/form.html' import render_field %}
	<head>
        <link rel="icon" type= "image/x-icon" href= "{{ url_for('static',filename='book-skull-solid.svg') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery-ui.css') }}">
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
        
	</head>
	<body>
        {% block scripts %}
        {{ toastr.include_toastr_js() }}
        {{ bootstrap.load_js() }}
        <script src="{{url_for('static', filename='js/jquery-3.7.0.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
        <script src="{{url_for('static', filename='js/755811f5a4.js')}}" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/moment.js')}}"></script>
        <script src="{{url_for('static', filename='js/loadingoverlay.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/insert_templates.js')}}"></script>
        {% endblock %}

        {% block content %}{% endblock %}

	</body>
</html>