{% extends "base.html" %}
{% block title %}post-af{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<div class="container-fluid full-height">
	<nav class="navbar py-1 navbar-expand-lg bg-light" data-bs-theme="light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"><i class="fa-solid fa-book-skull"></i> post-af</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-row-reverse" id="navbarColor03">
				<form class="d-flex">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="https://github.com/virusimmortal00/post-af" target="_blank"><i class="fa-brands fa-github"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://hub.docker.com/r/virusimmortal00/post-af" target="_blank"><i class="fa-brands fa-docker"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.linkedin.com/in/bobby-sayers/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
						</li>
					</ul>
				  </form>
			</div>
		</div>
	</nav>
	<div class ="d-flex flex-row mt-2 justify-content-center full-height">
		<div class="col-6 gx-8 px-2">
			<form method="post" action="/" enctype="multipart/form-data" class="form-control form-control-sm h-100 d-flex justify-content-between flex-column">
				{{ form.csrf_token }}
				{{ form.hidden_tag() }}
				<div class="d-flex flex-row"> 
					<div class="col-sm-5 gx-8 me-2" >
						{{ render_field(form.api_dev_key, class='form-control-sm') }}
					</div>
					<div class="col-sm-4 gx-8" >
						{{ render_field(form.api_app_id, class='form-control-sm') }}
					</div>
					<div class="col-sm-3 gx-8"> <!-- d-flex flex-row -->
						<div class ="d-flex flex-row-reverse">
							<button class="btn btn-link btn-sm me-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"><i class="fa-regular fa-circle-question"></i></button>
						</div>
					</div>
				</div>
				<div class="d-flex flex-row full-height w-100 mt-1">
					{{ render_field(form.api_body, class='form-control form-control-sm', id='myTextarea') }}
				</div>
				<div class="d-flex flex-row py-3">
					<div class="col-4 gx-8">
						<i class="fa-brands fa-android fa-xl pe-2"></i>
						<button id="install_button_android" type="button" class="btn btn-dark btn-sm">install</button>
						<button id="event_button_android" type="button" class="btn btn-dark btn-sm">event</button>
					</div>
					<div class="col-4 gx-8">
						<i class="fa-brands fa-apple fa-xl pe-2"></i>
						<button id="install_button_ios" type="button" class="btn btn-dark btn-sm">install</button>
						<button id="event_button_ios" type="button" class="btn btn-dark btn-sm">event</button>
					</div>
					<div class="d-flex flex-row-reverse col-sm-4 gx-8">
						<!-- -->
						{{ render_field(form.submit, button_style='success', id='mainSubmitButton', class='btn-lg', value="POST!") }}							
					</div>
					
				</div>
				
			</form>
		</div>
		<div class="col-6 gx-8 px-2 h-100 d-inline-block">
			<table class="table table-hover table-sm gx-8" 
				id="table"
				data-toggle="table"
				data-sortable="true"
				data-pagination="true"
				data-locale="en-US"
				data-sort-name="post_date"
				data-sort-order="desc"
				data-pagination-parts="['pageList']"
				data-pagination-h-align="left"
				>
				
				<thead class="text-center text-muted">
					<tr>
						<th data-sortable="true" data-field="post_date">utc</th>
						<th data-field="code">code</th>
						<th data-field="reason">msg</th>
						<th data-field="app_id">app</th>
						<th data-field="payload_type">type</th>
						<th data-field="headers" class="noshow">headers</th>
						<th data-field="url_string" class="noshow">headers</th>
						<th data-field="payload" class="noshow">headers</th>
					</tr>
				</thead>
				{% for row in rows %}
					<tr class="text-center">
						<td><sub>{{row["post_date"]}}</sub></td>

						<small>
						{% if row["code"] == '200' %}
							<td class="text-success">
						{% else %}
							<td class="text-danger">
						{% endif %}
						{{row["code"]}}
						</td>
						<td>{{row["reason"]}}</td>
						<sub>
							<td>{{row["app_id"]}}</td>
							<td>{{row["payload_type"]}}</td>
						</sub></small>
						<td class = "noshow">{{row["headers"]}}</td>
						<td class = "noshow">{{row["url_string"]}}</td>
						<td class = "noshow">{{row["payload"]}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">post-af</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
	<div class="card bg-light mb-3" style="max-width: 20rem;">

		<div class="card-body">
		  <h4 class="card-title"><strong>So what's this all about?</strong></h4>
		  <p class="card-text">post-af is a Python/Flask web app packaged within a Docker image alongside NGINX and uWSGI, allowing for a simple 'turn-key' testing tool for working with the AppsFlyer S2S API. 
			<br />
			<br />
			For details around usage, please <a href="https://github.com/virusimmortal00/post-af#usage" target:"_blank">check out the docs on GitHub.</a>
			</p>
		</div>
	  </div>
    <div>
		
    </div>
  </div>
</div>

<div class="modal fade modal-xl" id="rowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <div class="modal-title" id="exampleModalLabel">
			<strong><div id='rowmodalbody_url' class="text-center text-secondary"></div></strong>
		  </div>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div id='rowmodalbody' class="modal-body">
			<div class="row">
				<div class="col-3">
					<div role="tabpanel">
						<!-- List group -->
						<div id='rowmodalbody_codemsg' class="text-center mb-2 fs-4"'></div>
						<div class="list-group text-center" id="myList" role="tablist">
							<a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-headers" role="tab" aria-controls="headers">headers</a>
							<a class="list-group-item list-group-item-action active" id="list-messages-list" data-bs-toggle="list" href="#list-payload" role="tab" aria-controls="payload">body</a>
						</div>
					</div>
				</div>
				<div class="col-9">
				<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane" id="list-headers" role="tabpanel" aria-labelledby="list-headers-list"><div id='rowmodalbody_headers'></div></div>
						<div class="tab-pane show active" id="list-payload" role="tabpanel" aria-labelledby="list-payload-list"><div id='rowmodalbody_payload'></div></div>
					</div>
				</div>
			</div>


<!--
			<div class="row">
				<div class="col-4">
				  <div class="list-group" id="list-tab" role="tablist">
				  </div>
				</div>
				<div class="col-8">
				  <div class="tab-content" id="nav-tabContent">
				  </div>
				</div>
			  </div>
-->

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}